* {
  box-sizing: border-box;
}

.dashboard-layout {
  display: flex;
  min-height: 100vh;
 background:
radial-gradient(
circle at top left,
#1e3a8a,
transparent 40%
),

radial-gradient(
circle at top right,
#06b6d4,
transparent 35%
),

#020617;
  color: white;
}

.sidebar {
  width: 260px;
  background: #111827;
  padding: 2rem;
  border-right: 1px solid rgba(255,255,255,.08);
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 12px;
  cursor: pointer;
  transition: .3s;
}

.menu li:hover,
.menu .active {
  background: linear-gradient(
    135deg,
    #3b82f6,
    #06b6d4
  );
}

.main-content {
  flex: 1;
  padding: 2rem;
}

.welcome-section h1 {
  font-size: 3rem;
  margin-bottom: .5rem;
}

.welcome-section p {
  color: #94a3b8;
}

.bank-card {
  margin-top: 2rem;
  width: 420px;
  padding: 2rem;
  border-radius: 24px;
  position:relative;
overflow:hidden;
transition:.4s ease;


  background: linear-gradient(
    135deg,
    #3b82f6,
    #06b6d4
  );

  box-shadow: 0 20px 40px rgba(0,0,0,.25);

  transition: .4s;
}


.bank-card::before{

content:'';

position:absolute;

width:400px;
height:400px;

background:
rgba(255,255,255,.15);

border-radius:50%;

top:-200px;
right:-100px;

filter:blur(60px);

}

.bank-card:hover {
  :hover{

transform:
translateY(-10px)
scale(1.02);

}
}

.card-number {
  margin-top: 2rem;
  font-size: 1.3rem;
  letter-spacing: 3px;
}

.card-balance {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

.stats-grid {
  display: grid;

  grid-template-columns:
  repeat(auto-fit,minmax(200px,1fr));

  gap: 1.5rem;

  margin-top: 2rem;
}

.stat-card {
  padding: 2rem;
  text-align: center;

  background:
  rgba(255,255,255,.05);

  border-radius: 20px;

  backdrop-filter: blur(12px);

  transition:.4s ease;
}

.stat-card:hover{

transform:
translateY(-10px)
scale(1.02);

}

.stat-card h2 {
  font-size: 2.2rem;
}

.bottom-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  margin-top: 2rem;
}

.glass-card {
  background:
  rgba(255,255,255,.05);
border: 1px solid rgba(255,255,255,.12);
  border-radius: 24px;

  padding: 2rem;

  backdrop-filter: blur(10px);
  transition:.4s ease;
  
}
.glass-card:hover{

transform:
translateY(-10px)
scale(1.02);

}

.transaction,
.notification {
  padding: 1rem 0;
  border-bottom:
  1px solid rgba(255,255,255,.08);

  display: flex;
  justify-content: space-between;
}

.amount {
  color: #22c55e;
  font-weight: bold;
}

@media(max-width:1000px){

  .sidebar{
    display:none;
  }

  .bottom-grid{
    grid-template-columns:1fr;
  }

  .bank-card{
    width:100%;
  }

}

.top-grid{
  display:grid;
  grid-template-columns:2fr 1fr;
  gap:2rem;
  margin-top:2rem;
}

.health-card{
  background:rgba(255,255,255,.05);
  border-radius:24px;
  padding:2rem;
  backdrop-filter:blur(12px);
  text-align:center;
  transition:.4s ease;
}

.health-card:hover{

transform:
translateY(-10px)
scale(1.02);

}

.score-circle{
  width:120px;
  height:120px;
  margin:1rem auto;

  border-radius:50%;

  display:flex;
  align-items:center;
  justify-content:center;

  font-size:2rem;
  font-weight:bold;

  background:linear-gradient(
    135deg,
    #22c55e,
    #06b6d4
  );
}

.excellent{
  color:#22c55e;
  font-weight:bold;
}

.right-panel{
  display:flex;
  flex-direction:column;
  gap:1.5rem;
}

.health-stats{
  display:flex;
  justify-content:space-around;
  margin-top:1.5rem;
}

.health-item{
  display:flex;
  flex-direction:column;
  gap:.3rem;
}

.health-item span{
  color:#94a3b8;
  font-size:.9rem;
}

.health-item strong{
  font-size:1.1rem;
}

.quick-actions{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:1rem;
}

.quick-actions button{

  height:70px;

  border:none;
  border-radius:16px;

  background:rgba(255,255,255,.05);

  color:white;

  font-size:1rem;
  font-weight:600;

  cursor:pointer;

  transition:.3s;
}

.quick-actions button:hover{

  transform:translateY(-5px);

  background:linear-gradient(
    135deg,
    #3b82f6,
    #06b6d4
  );
}

.insights-card{
  margin-top:2rem;

  background:
  rgba(255,255,255,.05);

  border-radius:24px;

  padding:2rem;
  transition:.4s ease;
}

.insights-card:hover{
    transform:
translateY(-10px)
scale(1.02);
}

.insight{
  margin-top:1rem;
  padding:1rem;
  border-radius:12px;
}

.success{
  background:
  rgba(34,197,94,.15);
}

.info{
  background:
  rgba(59,130,246,.15);
}

.card-holder{
  margin-top:1.5rem;
  font-weight:600;
}

.card-footer{
  margin-top:.8rem;
  opacity:.8;
}

.chip{
  font-size:2rem;
  margin-top:1rem;
}

@media(max-width:1000px){

  .top-grid{
    grid-template-columns:1fr;
  }

  .quick-actions{
    grid-template-columns:1fr 1fr;
  }

}
.insights-card{
  margin-top:2rem;
  background:rgba(255,255,255,.05);
  border-radius:24px;
  padding:2rem;
  backdrop-filter:blur(12px);
  transition:.4s ease;
}

.insights-card h3{
  margin-bottom:1rem;
}

.insight{
  padding:1rem;
  margin-bottom:1rem;
  border-radius:12px;
}

.success{
  background:rgba(34,197,94,.15);
}

.info{
  background:rgba(59,130,246,.15);
}

.warning{
  background:rgba(245,158,11,.15);
}
.empty-state{
  text-align:center;
  padding:2rem;
  color:#94a3b8;
}
.stat-icon{
  font-size:2rem;
  margin-bottom:.5rem;
}
.welcome-section{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.avatar{
  width:55px;
  height:55px;

  border-radius:50%;

  display:flex;
  align-items:center;
  justify-content:center;

  font-weight:bold;

  background:linear-gradient(
    135deg,
    #3b82f6,
    #06b6d4
  );
}
.analytics-card{
  background: rgba(255,255,255,.05);
  border-radius: 24px;
  padding: 2rem;
 transition:.4s ease;
  backdrop-filter: blur(12px);
}
.analytics-card:hover{
  transform:
  translateY(-10px)
  scale(1.02);
}
.analytics-card h3{
  margin-bottom: 2rem;
}

.chart-container{
  display:flex;
  align-items:flex-end;
  justify-content:space-around;
  height:220px;
}

.bar{
  width:70px;
  border-radius:20px 20px 0 0;
  position:relative;
}

.bar span{
  position:absolute;
  bottom:-35px;
  left:50%;
  transform:translateX(-50%);
  color:#94a3b8;
}

.income{
  height:180px;
  background:linear-gradient(#22c55e,#16a34a);
}

.expense{
  height:120px;
  background:linear-gradient(#ef4444,#dc2626);
}

.savings{
  height:150px;
  background:linear-gradient(#3b82f6,#06b6d4);
}

.action-card{
  background:rgba(255,255,255,.05);
  border-radius:20px;
  padding:1.5rem;
  text-align:center;
  cursor:pointer;
  transition:.4s ease;
}

.action-card:hover{
  transform:translateY(-8px);
  background:linear-gradient(
    135deg,
    #3b82f6,
    #06b6d4
  );
  

transform:
translateY(-10px)
scale(1.02);


}

.action-icon{
  font-size:2rem;
  margin-bottom:.8rem;
}
.transaction-left{
  display:flex;
  gap:1rem;
  align-items:center;
}

.transaction-avatar{
  width:45px;
  height:45px;

  border-radius:50%;

  display:flex;
  align-items:center;
  justify-content:center;

  background: rgba(255,255,255,.08);

backdrop-filter: blur(25px);

border: 1px solid rgba(255,255,255,.12);

box-shadow:
0 8px 32px rgba(0,0,0,.35);
}
.top-grid{
  display:grid;
  grid-template-columns:2fr 1fr;
  gap:2rem;
  margin-top:2rem;
}

.right-panel{
  display:flex;
  flex-direction:column;
  gap:1.5rem;
}

.quick-actions{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:1rem;
}

.action-card{
  background:rgba(255,255,255,.05);
  border-radius:20px;
  padding:1.5rem;
  text-align:center;
  cursor:pointer;
  transition:.4s ease;
}

.action-card:hover{
  transform:translateY(-10px);

  background:linear-gradient(
    135deg,
    #3b82f6,
    #06b6d4
  );
  
}

.action-icon{
  font-size:2rem;
  margin-bottom:.7rem;
}
