<div class="row">

  <div class="col-md-4">

    <div class="card shadow-sm border-0">

      <div class="card-body">

        <h6 class="text-muted">
          Total Income
        </h6>

        <h3>
          ₹ {{ finance.totalIncome() }}
        </h3>

      </div>

    </div>

  </div>

  <div class="col-md-4">

    <div class="card shadow-sm border-0">

      <div class="card-body">

        <h6 class="text-muted">
          Total Expense
        </h6>

        <h3>
          ₹ {{ finance.totalExpense() }}
        </h3>

      </div>

    </div>

  </div>

  <div class="col-md-4">

    <div class="card shadow-sm border-0">

      <div class="card-body">

        <h6 class="text-muted">
          Savings Rate
        </h6>

        <h3>
          {{ finance.savingsRate() }}%
        </h3>

      </div>

    </div>

  </div>

</div>