<div class="card">

  <div class="card-body">

    <h5>
      Transactions
    </h5>

    <div class="table-responsive">
        <table class="table table-hover">

        <thead>

            <tr>

            <th>Category</th>

            <th>Amount</th>

            <th>Type</th>

            <th>Date</th>

            <th>
              Reference
            </th>

            </tr>

        </thead>

        <tbody>

            @for(
            transaction of admin.transactions();
            track transaction.id
            ){

            <tr>

                <td>
                {{ transaction.category }}
                </td>

                <td>
                ₹{{ transaction.amount }}
                </td>

                <td>
                {{ transaction.type }}
                </td>

                <td>
                {{ transaction.date }}
                </td>

                <td>
                  {{
                    transaction.referenceNumber
                  }}
                </td>

            </tr>

            }

        </tbody>

        </table>
    </div>
    

  </div>

</div>